a:link {
  text-decoration: none;
  color: #ff0;
  font-weight: bold;
}

a:visited {
  text-decoration: none;
  color: #ff0;
  font-weight: bold;
}

a:active {
  text-decoration: underline;
  color: #ff0;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: #ff0;
  font-weight: bold;
}

body {
  background-color: #000;
  color: #fff;
  font-family: arial, sans-serif;
  margin: 2%;
}

h1 {
  text-align: center;
}

h2 {
  margin: 0;
  padding: 0;
  text-decoration: underline;
  font-size: 1em;
}

p {
  text-align: justify;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  padding: 0;
  vertical-align: top;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

.padding {
  padding: 5%;
}

.right {
  text-align: right;
}

img.widthscale {
  max-width: 100%;
  height: auto;
}
